body {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display : flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size : 3em;
}

h2 {
    font-size: 2em;
}

/* Lib Weather icons */
i.wi {
    font-size: 5em;
    line-height: 3em;
}

#tooltip {
    display : none;
}